* {
   font-family: Arial, Helvetica, sans-serif; 
}


.maintitle {
    background-color: rgb(72, 72, 218);
    color: white;
    height: 75px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    margin-top: 0px;
    font-size: 50px;
}


.container {
  height: 1000px;
  display: flex;
}


.searchbar {
    width: 20%;
    margin-left: 30px;
}


.todayandfive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}


.today {
  height: 350px;
  width: 90%;
}


.fiveday {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 100%;
}



.card {
  color: black;
  margin: 10px;
  width: 40%;
  height: 80%;
  border: 2px solid black;
}

.card h2, img {
  margin-left: 20px;
}

.card5 {
  color: white;
  margin: 10px;
  background-color: rgb(80, 80, 98);
  width: 40%;
  height: 80%;
  border-radius: 15px;
}

.bad {
  background-color: red;
  margin-right: 60%;
}

.good {
  background-color: green;
  margin-right: 60%;
}

