* {
   font-family: Arial, Helvetica, sans-serif; 
}

/* styling for main header */
.maintitle {
    background-color: rgb(72, 72, 218);
    color: white;
    height: 75px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    margin-top: 0px;
    font-size: 50px;
}

/* flex for each container */
.container {
  height: 1000px;
  display: flex;
}

/* searchbar, today, daily card styling */
.searchbar {
  display: flex;
  flex-direction: column;
    width: 20%;
    margin-left: 30px;
}


.todayandfive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}


.today {
  height: 350px;
  width: 90%;
}


.fiveday {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 100%;
}



.card {
  color: black;
  margin: 10px;
  width: 40%;
  height: 80%;
  border: 2px solid black;
}

.card p, img {
  margin-left: 20px;
}

.card5 {
  color: white;
  margin: 10px;
  background-color: rgb(80, 80, 98);
  width: 175px;
  height: 60%;
  border-radius: 15px;
}

.card5 h3, img {
  margin-left: 20px;
}

/* UV styling based on value */
.bad {
  background-color: red;
  margin-right: 60%;
}

.good {
  background-color: green;
  margin-right: 60%;
}

/* styling for city name on top of card */
.cityname {
  font-size: 15px;
  font-weight: bold;
}

/* styling for search button and history buttons */
.btnstyle {
  width: 100%;
  height: 30px;
  background-color: rgb(164, 162, 162);
  margin-top: 10px;
}

.search {
  margin-top: 10px;
  height: 30px;
  background-color: aqua;
  border: 2px solid black;
}

.gone {
  display: none;
}